.wrapperBG {
    background: #f7f8fa;
    margin-top: 45px;
    border-bottom: 1px solid #dedfe0;
}

.wrapper {
    width: 85%;
    margin: 0px auto;
    margin-top: 18px;
    height: 737px;
}

.title {
    padding-top: 30px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33em;
    color: #29303b;
}

.flexCategories {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 32px;
    height: 266px;
    width: 380px;
    margin-right: 13px;
    background-color: #fff;
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
}

.container:hover {
    cursor: pointer;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
}

.imgAndName {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 18px;
}

.image {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin-right: 18px;

}

.text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    color: #29303b;
    text-align: justify;
}

.author {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5em;
    color: #29303b;
}

@media screen and (max-width:768px) {
    .image {
        width: 44px;
        height: 44px;
    }

    .text {
        overflow: hidden !important;
    }

    .flexCategories {
        flex-wrap: wrap;
    }

    .container {
        margin: 0 0 15px 0;
        height: 225px;
    }
    .wrapperBG{
        height: 819px;
    }
    .title{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}