html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    width: 100%;
    height: calc(100vh - 89px);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.activeUsersPanel {
    width: 300px;
    height: 100%;
    border-right: 1px solid #cddfe7;
}

.panelTitle {
    margin: 10px 0 0 0;
    padding-left: 30px;
    font-weight: 500;
    font-size: 18px;
    border-bottom: 1px solid #cddfe7;
    padding-bottom: 10px;
}

.active-user {
    padding: 10px 30px;
    border-bottom: 1px solid #cddfe7;
    cursor: pointer;
    user-select: none;
}

.active-user:hover {
    background-color: #e8e9eb;
    transition: background-color 0.5s ease;
}

.active-user--selected {
    background-color: #fff;
    border-right: 5px solid #65a9e5;
    font-weight: 500;
    transition: all 0.5s ease;
}

.commentsVideoBlock {
    height: 90%;
    width: 100%;
}

.videoChatContainer {
    padding: 0 20px;
    flex: 1;
    position: relative;
}

.commentsTitle {
    font-weight: 500;
    font-size: 21px;
}

.comments {
    border: 1px solid #cddfe7;
    width: 100%;
    height: 100%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.cameraAndButton{
    position: absolute;
    bottom: 60px;
    right: 40px;
    border: 1px solid #cddfe7;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 300px;
}


.webCamera{
    position: static;
    bottom: 0;
    right: 0;
    width: 100%;
    margin-bottom: 20px;
}

.startWebinar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.webinarName{
    width: 400px;
    margin-bottom: 20px;
    height: 50px;
}

#btn{
    width: 80%;
    margin: 0 auto;
}
