.modalContentUp {
    align-self: center;
    margin: 40px 0;
    border: 1px solid #03c0f9;
    background-color: white;
    width: 400px;
    height: 550px;
    padding: 20px;
    border-radius: 5px;
}
.fieldsUp{
    margin-top: 20px;
    grid-template-columns: 100%;
    display: grid;
    grid-auto-rows: 50px;
    grid-gap: 15px;
}
.emailRec{
    display: flex;
}
.emailRecText{
    margin-left: 10px;
    margin-bottom: 2px;
}
.termsPrivacy{
    text-align: center;
    font-size: 9px;
    margin-top: 45px;
}
.logExAc{
    margin-top: 40px;
    text-align: center;
    font-size: 15px;
}
