.remoteVideo{
   width: 60%;
}

.videoContainer{
    margin-top: 20px;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.commentsGroup{
    width: 37%;
    top: 0;
    position: relative;
}

#commentCard{
    overflow: auto;
    height: calc(100% - 190px);
}

.commentTitle{
    text-align: center;
}

.commentsForm{
    position: absolute !important;
    bottom: 0;
}

#commentArea{
    resize: none;
}
