.video-container {
    width: 100%;
    height: 73vh;
    background-color: black;
    position: relative;
    margin-top: -12px;
}

.video-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
}

.date {
    padding-left: 465px;
    font-size: 13px;
}

#author {
    font-weight: lighter;
    font-size: 15px;
}

#comment-container {
    border-bottom: 1px solid rgb(175, 167, 167);
}

.comment-title {
    height: 60px;
    background-color: rgb(212, 211, 211);
    text-align: center;
    padding-top: 12px;
}

.commentCard {
    font-weight: bold;
    font-size: 17px;
}

.comment-description {
    height: 60px;
    font-size: 26px;
    font-weight: lighter;
    padding: 20px;
    text-align: center;
    background-color: rgb(226, 223, 223);
}

#commentGroup {
    margin: 0 auto;
    padding: 10px 0 40px 0;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}