.wrapper {
    width: 85%;
    margin: 0 auto;
    margin-top: 43px;
    display: flex;
    justify-content: space-between;
}

.info {
    width: 40%;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.034);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.836);
    margin: 3px 35px;
}

.text {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.616);
    margin: 0 35px;
}

@media screen and (max-width:1200px) {
    .info {
        display: none;
    }

    .wrapForCenter {
        margin: 0 auto;
    }
}