.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 51px;
    border-bottom: 1px solid #dedfe0;

}

.item {
    font-size: 17px;
    margin-left: 15px;
}

a {
    color: rgba(0, 0, 0, 0.616);
}

button {
    border: none;
    background-color: white;
    margin-bottom: 15px;
    outline: none;
}

@media screen and (max-width:1200px) {
    .nav {
        margin-left: 0;
    }
}

@media screen and (max-width:768px) {
    .nav {
        width: 80%;
        flex-wrap: wrap;
        margin: auto;
    }
}