.wrapper{
    width: 85%;
    margin: 0 auto;
    margin-top: 18px;
}

.title{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33em;
    color: #29303b;
}

.flexCategories{
    width: 100%;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.text{
    margin-right: 11px;
    margin-bottom: 16px;
    height: 55px;
    text-align: center;
    width: 24%;
    font-size: 17px;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    line-height: 52px;
    color:rgba(0, 0, 0, 0.616);
}

.text:hover{
    cursor: pointer;
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
}

@media screen and (max-width:1020px){
    .text{
        font-size: 13px;
        width: 30%;
    }
    .title{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:768px){
    .text{
        font-size: 13px;
        width: 50%;
    }
    .title{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}